body {
  margin: 0; padding: 0;
  background: url(bg.png) #f5f5f5;
}
body, button, h1, h4 {
  font-family: verdana, tahoma, arial, sans-serif, Lucida Sans;
  font-size: 11px;
}
input, textarea {
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 11px;
  margin: 0; padding: 0;
}
img {
  border: 0;
}
a {
  color: #4f6b8d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
  float: none;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

#container {
  padding-bottom: 15px;
}
#page_header_bg {
  border-top: 1px solid #131313;
  border-bottom: 1px solid #000;
  background-color: #222;
  background: -moz-linear-gradient(top, #333, #111);
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
  background: -o-linear-gradient(top, #333, #111);
  position: relative;
  z-index: 2;
  width: 100%;
}
body.header_fixed #page_header_bg {
  position: fixed;
}
body.header_fixed #content {
  top: 48px;
}
#page_header,
#content {
  width: 870px;
  margin: 0 auto;
  color: #000;
}
#page_header {
  height: 46px;
}
#page_header .left_side {
  padding-left: 22px;
  display: block;
  width: 220px;
  float: left;
  overflow: hidden;
}
#page_header .icon {
  background: url(vkt.gif) no-repeat 0 10px;
  width: 33px; height: 46px;
  float: left;
}
#page_header .title {
  font-weight: bold;
  white-space: nowrap;
  padding: 15px 5px 18px 40px;
  height: 13px;
  color: #e7e7e7;
  text-shadow: #000 0 1px 0;
}
#page_header .right_side {
  width: 628px;
  float: right;
}
#page_header ul.top_links {
  list-style: none;
  margin: 0; padding: 0;
}
#page_header ul.top_links a {
  font-weight: bold;
  padding: 15px 23px 18px;
  margin-left: 2px;
  height: 13px;
  float: left;
  color: #a8a8a8;
  text-shadow: #000 0 1px 0;
}
#page_header ul.top_links a,
#page_header a.left_side {
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
#page_header ul.top_links a:hover,
#page_header a.left_side:hover {
  text-decoration: none;
  color: #e7e7e7;
  background-color: rgba(255, 255, 255, 0.1);
}
#page_header .top_search {
  float: right;
  background-color: #5e5e5e;
  background: -moz-linear-gradient(top, #555555, #666666);
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#666666));
  background: -o-linear-gradient(top, #555555, #666666);
  margin: 11px 1px 12px;
  border-radius: 11px;
  box-shadow: inset 0 1px 2px #464646;
}
#page_header .top_search input {
  background-color: transparent;
  border: 0; outline: 0;
  width: 165px; height: 13px;
  padding: 5px 10px;
  color: #111;
  text-shadow: #707070 0 1px 0;
}

#content {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 0 0 6px 6px;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
}
#content .left_column {
  padding: 20px 20px 20px 22px;
  width: 200px;
  float: left;
}
#content .right_column {
  font-family: arial;
  font-size: 13px;
  width: 626px;
  border: 1px solid #e8e8e8;
  border-left: 1px solid #dadada;
  background-color: #fff;
  float: right;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}
.right_column .page_content {
  padding: 20px;
}
.left_column .user_photo {
  text-align: center;
  margin-bottom: 15px;
}
.left_column .user_photo .img {
  border-radius: 6px;
  box-shadow: 0 1px 0 #fafafa;
  overflow: hidden;
  max-height: 500px;
  display: inline-block;
}
.left_column .user_photo,
.media_tiles .media_tile a,
#photo_container .photo_box {
  line-height: 0;
}

button {
  margin: 0; padding: 0;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}
#content button {
  height: 35px;
  border: 1px solid;
  border-color: #dcdcdc #d0d0d0 #c8c8c8;
  border-radius: 4px;
  background-color: #f4f4f4;
  background: -moz-linear-gradient(top, #fafafa, #efefef);
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#efefef));
  background: -o-linear-gradient(top, #fafafa, #efefef);
  padding: 9px;
  color: #5e7593;
  text-shadow: #fefefe 0 1px 0;
}
#content button.blue_button {
  border-color: #4373a9 #4777ae #4575ac;
  background-color: #639ada;
  background: -moz-linear-gradient(top, #77aae3, #4f8ad1);
  background: -webkit-gradient(linear, left top, left bottom, from(#77aae3), to(#4f8ad1));
  background: -o-linear-gradient(top, #77aae3, #4f8ad1);
  color: #fff;
  text-shadow: #4882c5 0 -1px 0;
  box-shadow: inset 0 1px 2px #5a91cf;
}
#content button.gray_button {
  border-color: #c5c5c5 #d0d0d0 #d2d2d2;
  background-color: #f4f4f4;
  background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0));
  background: -o-linear-gradient(top, #f9f9f9, #f0f0f0);
  box-shadow: inset 0 1px 1px #ebebeb;
}
#content .left_column button {
  width: 200px;
  margin: 1px 0 9px;
}
#content .left_column hr {
  border: 1px solid;
  border-color: #dedede transparent #f4f4f4;
  margin: 7px 0;
}
#content .profile_counter {
  padding: 1px 0;
  font-weight: bold;
  text-align: right;
  text-shadow: #fafafa 0 1px 0;
}
#content .profile_counter .counter_bg {
  padding: 9px 11px;
  border-radius: 4px;
  display: block;
}
#content .profile_counter .label {
  float: left;
  color: #4f6b8d;
}
#content .profile_counter span {
  color: #99a4b1;
}
#content .profile_counter a.counter_bg {
  cursor: pointer;
}
#content .profile_counter a.counter_bg:hover {
  box-shadow: inset 0 1px 3px rgba(202, 206, 216, 0.2);
  background-color: rgba(219, 222, 226, 0.4);
}
#content .profile_counter a.counter_bg:hover {
  text-decoration: none;
}
#content .profile_counter.selected .label,
#content .profile_counter a.counter_bg:hover .label {
  text-shadow: #e3e7ea 0 1px 0;
}
#content .profile_counter.selected span,
#content .profile_counter a.counter_bg:hover span {
  text-shadow: #eceef0 0 1px 0;
}
#content .profile_counter.selected .counter_bg,
#content .profile_counter.selected .counter_bg:hover {
  background-color: #dbdee2;
  box-shadow: inset 0 1px 3px #caced8;
}

.left_column .users_tiles {
  padding: 0 0 6px 0;
  margin: 0;
}
.left_column .users_tiles .user_tile {
  float: left;
  padding: 7px 8px 5px;
}
.left_column .users_tiles .user_tile a {
  width: 50px; height: 50px;
  overflow: hidden;
  display: block;
}
.left_column .users_tiles .user_tile img {
  border-radius: 4px;
}
.left_column .users_tiles a.username {
  font-family: tahoma;
  display: block;
  clear: left;
  height: 13px;
  padding: 7px 0 0;
  text-align: center;
  text-shadow: #f5f5f5 0 1px 0;
}

.right_column h1 {
  font-size: 23px;
  margin: 0; padding: 4px;
  color: #4d4d4d;
}
.right_column .user_status {
  font-size: 14px;
  margin: 0; padding: 2px 4px;
  color: #808080;
}
.right_column dl {
  padding: 8px 4px;
  margin: 0;
}
.right_column dt, .right_column dd {
  margin: 0;
  padding: 4px 0;
}
.right_column dt {
  float: left;
  clear: left;
  color: #808080;
}
.right_column dd {
  margin-left: 157px;
  color: #405e82;
}
.right_column a {
  color: #405e82;
}
.right_column .show_more_about {
  padding: 6px 4px;
  margin-left: 157px;
}
.right_column .content_header {
  margin: 13px 0;
  padding: 10px 12px 8px;
  background-color: #f7f7f7;
  background: -moz-linear-gradient(top, #f8f8f8, #f5f5f5);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f5f5f5));
  background: -o-linear-gradient(top, #f8f8f8, #f5f5f5);
  border: 1px solid;
  border-color: #e0e0e0 #e0e0e0 #dedede;
  border-radius: 4px;
  text-shadow: #fefefe 0 1px 0;
  box-shadow: 0 1px 1px #f6f6f6;
}
.content_header h4 {
  font-size: 12px;
  color: #808080;
  height: 16px;
  margin: 0; padding: 0;
}
.content_header .all_link {
  font-family: verdana;
  float: right;
  font-weight: bold;
  font-size: 11px;
  color: #6f87a4;
}

.photos_tiles {
  padding: 0; margin: 0;
}
.photos_tiles .photo_tile {
  float: left;
  padding: 5px 8px;
  text-align: center;
}
.photos_tiles .photo_tile a {
  width: 130px; height: 98px;
  background-color: #f1f1f1;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
.right_column .post_field {
  background-color: #fcfcfc;
  background: -moz-linear-gradient(top, #f8f8f8, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ffffff));
  background: -o-linear-gradient(top, #f8f8f8, #ffffff);
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  box-shadow: inset 0 1px 5px #d7d7d7;
  margin-bottom: 2px;
  line-height: 0;
}
.right_column .post_field textarea {
  font-size: 13px;
  background-color: transparent;
  border: 0; outline: 0;
  resize: none;
  width: 536px; height: 16px;
  padding: 9px 12px 8px;
  color: #a4a4a4;
}
.right_column .wall_posts {
  padding: 4px 0 0;
}
.wall_posts .wall_post {
  font-family: tahoma;
  color: #aaa;
}
.wall_posts .wall_post {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #ededed;
  clear: left;
}
.wall_posts .wall_post.first {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}
.wall_post .image_column {
  position: absolute;
  padding: 2px 0 11px 1px;
}
.wall_post .image_column a {
  width: 50px; height: 50px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
}
.wall_post .post_column {
  margin-left: 62px;
}
.wall_post .post_column .author {
  font-weight: bold;
  font-size: 12px;
  color: #506b8c;
  padding-left: 2px;
}
.wall_post .post_column .explain {
  padding-left: 4px;
  color: #999;
}
.wall_post .post_column .text {
  font-family: arial;
  padding: 3px 0 0 2px;
  line-height: 19px;
  word-wrap: break-word;
  color: #222;
}
.wall_post .text span,
.wall_post .text.hide_cut span.cut,
.wall_post .text.hide_cut > a {
  display: none;
}
.wall_post .text span.cut,
.wall_post .text > a,
.wall_post .text.hide_cut span {
  display: inline;
}
.wall_post .post_column .text a.reply_to {
  color: #222;
}
.wall_post .post_column .links {
  padding: 2px 0 11px 2px;
}
.wall_post .post_comments .post_column .links {
  padding-bottom: 0;
}
.wall_post .post_column .links .delim {
  padding: 0 3px;
  color: #ccc;
}
.wall_post .post_column .links a {
  color: #aaa;
}
.wall_post .post_column .like_count {
  font-weight: bold;
  float: right;
  padding-right: 19px;
  margin: 3px 5px 0 0;
  background: url(like.gif) no-repeat right 3px;
  font-size: 13px;
}
.page_content .show_more {
  height: 34px;
  margin: 0; padding: 1px;
  background-color: #dedede;
  background: -moz-linear-gradient(top, #e4e4e4, #d9d9d9);
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#d9d9d9));
  background: -o-linear-gradient(top, #e4e4e4, #d9d9d9);
  border-radius: 4px;
  box-shadow: 0 1px 0 #f7f7f7;
}
.page_content .show_more a {
  font-family: verdana;
  font-size: 11px;
  font-weight: bold;
  height: 13px;
  display: block;
  text-align: center;
  margin: 0; padding: 11px 0 10px;
  background-color: #f7f7f7;
  background: -moz-linear-gradient(top, #f8f8f8, #f5f5f5);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f5f5f5));
  background: -o-linear-gradient(top, #f8f8f8, #f5f5f5);
  border-radius: 4px;
  color: #999;
  text-shadow: #fff 0 1px 0;
}
.page_content .show_more a span {
  display: block;
  height: 13px;
  background: url(upload.gif) no-repeat center;
}
.page_content .show_more a:hover {
  text-decoration: none;
}
.wall_posts .post_comments {
  padding: 0 4px 2px 0;
}
.post_comments .post_comment {
  padding: 10px 0 11px;
  border-top: 1px solid #ededed;
  background-color: #fff;
  -moz-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
}
.post_comments .post_comment.first {
  border-top: none;
}
.post_comments .post_comment.highlight {
  background-color: #f7f7f7;
}
.wall_post .post_column .post_comment .like_count {
  margin-right: 1px;
}
.media_tiles {
  padding: 5px 2px 0; margin: 0;
}
.media_tiles .media_tile {
  float: left;
  margin: 5px 10px 5px 0;
  text-align: center;
  height: 98px;
  position: relative;
}
.media_tiles.one_media .media_tile {
  height: auto;
}
.media_tiles .media_tile a {
  max-width: 130px;
  float: left;
  background-color: #f1f1f1;
  border-radius: 4px;
  overflow: hidden;
}
.media_tiles .media_tile a:hover {
  text-decoration: none;
}
.media_tiles .media_tile.graffiti a {
  max-width: 200px;
}
.media_tiles .media_tile.bottom {
  text-align: left;
  clear: left;
  height: auto;
}
.media_tiles .media_tile.bottom a {
  float: none;
  padding-left: 16px;
  color: #222;
}
.media_tiles .media_tile.audio a {
  background: url(mono_iconset.gif) no-repeat 0 -219px;
}
.media_tiles .media_tile.link a {
  background: url(mono_iconset.gif) no-repeat 0 -233px;
}
.media_tiles .media_tile.note a,
.media_tiles .media_tile.doc a {
  background: url(mono_iconset.gif) no-repeat 0 -277px;
}
.media_tile.bottom a .explain {
  padding: 0 4px 0 0;
  color: #999;
}
.media_tile.audio a .performer {
  font-weight: bold;
  color: #405e82;
}
.media_tile.bottom a .title {
  color: #405e82;
}
.media_tiles .media_tile.audio a:hover .performer,
.media_tiles .media_tile.bottom a:hover .title {
  text-decoration: underline;
}
.media_tile.video a span {
  position: absolute;
  bottom: 0; right: 0;
  display: block;
  font-size: 10px;
  line-height: 12px;
  padding: 0px 3px 1px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  margin: 2px;
}
.media_tiles .media_tile img {
  max-height: 98px;
}
.page_content .show_more.posts {
  margin-bottom: 0;
  clear: left;
}
.left_column button {
  width: 200px;
  margin: 1px 0 9px;
}

.repost {
  height: 33px;
  padding: 5px 0 0 2px;
}
.repost .repost_image {
  width: 30px;
  height: 30px;
  overflow: hidden;
  float: left;
  border-radius: 3px;
  margin-top: 1px;
}
.repost a img {
  width: 30px;
}
.repost .repost_info {
  margin-left: 38px;
}
.post_column .repost .repost_info a.author {
  padding: 0 0 0 12px;
  background: url(mono_iconset.gif?2) no-repeat 0 -248px;
}
.repost_info .date {
  color: #999;
}

/* album styles */
.right_column .page_header {
  border-bottom: 1px solid #e6e6e6;
  background-color: #f3f3f3;
  background: -moz-linear-gradient(top, #f7f7f7, #ededed);
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ededed));
  background: -o-linear-gradient(top, #f7f7f7, #ededed);
  padding: 21px 20px 20px;
}
#content .page_header button {
  width: 140px;
  text-align: left;
  padding: 4px 10px;
}
#content .page_header button span {
  font-family: arial;
  margin-right: 9px;
  font-size: 20px;
  float: left;
}
#content .page_header button div {
  padding: 6px 0;
}
@-moz-document url-prefix() {
  #content .page_header button { padding: 3px 10px; }
  #content .page_header button div { padding: 7px 0; }
}
.photos_header {
  font-family: tahoma;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0 8px;
  float: right;
}
.photos_header a {
  color: #516b8b;
}
#photos_count_label,
#albums_count_label {
  height: 18px;
  padding: 1px 14px 3px 13px;
  float: left;
  color: #878787;
  text-shadow: #fafafa 0 1px 0;
}
#photos_count_label {
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 0 0 #fff;
}
#albums_count_label {
  width: 264px;
}
#album_page {
  padding: 16px 17px;
}
#album_page .photo_tile {
  padding: 10px 9px;
}
#album_page .photo_tile a {
  border-radius: 2px;
}
.page_content .show_more.photos {
  margin: 10px 9px;
}

/* photo styles */
html.photo_view {
  position: relative;
}
html.photo_view,
html.photo_view body {
  overflow: hidden;
}
html.photo_view #pv_bg,
html.photo_view #pv_layout {
  display: block;
}

#pv_bg {
  display: none;
  position: fixed;
  width: 100%;
  top: 0; bottom: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: 50;
}
#pv_layout {
  display: none;
  position: fixed;
  width: 100%;
  top: 0; bottom: 0;
  z-index: 51;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#pv_container {
  position: relative;
  margin: 30px 0;
}
#pv_layout .photo_nav {
  position: absolute;
  width: 50%; height: 100%;
  cursor: pointer;
}
.one_photo .photo_nav {
  display: none;
}
.photo_nav.left {
  left: 0;
}
.photo_nav.close {
  right: 0;
}
#pv_container .photo_nav div {
  width: 17px;
  height: 17px;
  opacity: 0.48;
  background: url(photonav.gif) no-repeat;
  position: fixed;
  margin: 47px 47px 0 30px;
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
}
#pv_container .photo_nav:hover div {
  opacity: 1;
}
#pv_container .photo_nav.left div {
  background-position: 0 0;
  left: 0;
}
#pv_container .photo_nav.close div {
  background-position: 0 -19px;
  right: 0;
}
#photo_container {
  min-width: 600px;
  width: 600px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  padding: 26px 25px;
  overflow: hidden;
}
#photo_container .photo_box {
  min-height: 400px;
  height: 400px;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
#photo_container .photo_box .photo_frame {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
  overflow: hidden;
}
#photo_container .photo_box .img {
  border-radius: 4px;
  overflow: hidden;
  float: left;
}
#photo_container .photos_summary {
  font-family: tahoma;
  font-size: 12px;
  font-weight: bold;
  float: right;
  color: #888;
  padding: 24px 6px 0 0;
}
#photo_container .photo_desc {
  font-family: arial;
  font-size: 13px;
  color: #000;
  padding: 24px 210px 2px 7px;
  line-height: 17px;
}
#photo_container .photo_box {
  user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -khtml-user-select: none;
}

.pin {
  position: absolute; right: 0;
  font-weight: bold;
  padding: 5px 13px 8px;
  margin: 10px;
  color: #e7e7e7;
  cursor: pointer;
  opacity: 0;
  border-radius: 2px;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
#page_header_bg:hover .pin {
  opacity: 0.4;
}
#page_header_bg .pin:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}